---
title: "เล่นกับ Blockly: Playground รายการ"
header_title: "สนามเด็กเล่น: รายการ"
custom_block_js:
- playground/custom_blocks.js
- acorn_interpreter.js
---
<div style="float: right; border: 1px solid grey; padding: 5px;">
  <table border="1" style="border-collapse: collapse;">
    <tr>
      <td>ข้อมูลในรายการ</td>
      <td id="array_val_0">10</td>
      <td id="array_val_1">1</td>
      <td id="array_val_2">9</td>
      <td id="array_val_3">25</td>
      <td id="array_val_4">30</td>

      <td id="array_val_5">15</td>
      <td id="array_val_6">12</td>
      <td id="array_val_7">14</td>
      <td id="array_val_8">20</td>
      <td id="array_val_9">25</td>

      <td id="array_val_10">30</td>
      <td id="array_val_11">10</td>
      <td id="array_val_12">10</td>
      <td id="array_val_13">10</td>
      <td id="array_val_14">10</td>

      <td id="array_val_15">10</td>
      <td id="array_val_16">10</td>
      <td id="array_val_17">10</td>
      <td id="array_val_18">10</td>
      <td id="array_val_19">10</td>
      <td>
        <button onclick="randomArray()">สุ่มค่าในรายการ</button>
      </td>
    </tr>
  </table>
  <div class="variables-list">
    รายการตัวแปร:
  </div>
</div>

<p>
  เขียนโปรแกรมเล่นเพื่อทดลอง ค่าของตัวแปรจะแสดงในตารางด้านบน
  <small>(หมายเหตุ: ควรใช้ชื่อตัวแปรเป็นภาษาอังกฤษ ถ้าใช้ชื่อตัวแปรเป็นภาษาไทยจะแสดงผลแล้วอ่านไม่รู้เรื่อง)</small>
</p>

<p>
  <button onclick="showCode()">Show Code</button>
  <button onclick="runCode()">Run Code</button>
</p>

<div style="float:right">
  โปรแกรมที่ทำงานขณะนี้<br />
  <pre id="codeDiv">
  </pre>
</div>

<div id="blocklyDiv" style="height: 500px; width: 800px;"></div>

<xml xmlns="http://www.w3.org/1999/xhtml" id="toolbox" style="display: none;">
  <category name="ตัวแปร" colour="#A65C81" custom="VARIABLE">
  </category>
  <sep></sep>
  <category name="รายการ" colour="#772222">
    <block type="first_element"></block>
    <block type="ith_element"></block>
    <block type="array_loop">
      <field name="loopvar" id="TVB5~Gu!fnffI]%k=LER" variabletype="">X</field>
    </block>
    <block type="array_loop_skip_first">
      <field name="loopvar" id="TVB5~Gu!fnffI]%k=LER" variabletype="">X</field>
    </block>
  </category>

  <category name="คณิตศาสตร์" colour="#5C68A6">
    <block type="math_number">
      <field name="NUM">0</field>
    </block>
    <block type="math_arithmetic">
      <field name="OP">ADD</field>
      <value name="A">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="B">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
    </block>
    <block type="math_single">
      <field name="OP">ROOT</field>
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">9</field>
        </shadow>
      </value>
    </block>
    <block type="math_trig">
      <field name="OP">SIN</field>
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">45</field>
        </shadow>
      </value>
    </block>
    <block type="math_constant">
      <field name="CONSTANT">PI</field>
    </block>
    <block type="math_number_property">
      <mutation divisor_input="false"></mutation>
      <field name="PROPERTY">EVEN</field>
      <value name="NUMBER_TO_CHECK">
        <shadow type="math_number">
          <field name="NUM">0</field>
        </shadow>
      </value>
    </block>
    <block type="math_round">
      <field name="OP">ROUND</field>
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">3.1</field>
        </shadow>
      </value>
    </block>
    <block type="math_on_list">
      <mutation op="SUM"></mutation>
      <field name="OP">SUM</field>
    </block>
    <block type="math_modulo">
      <value name="DIVIDEND">
        <shadow type="math_number">
          <field name="NUM">64</field>
        </shadow>
      </value>
      <value name="DIVISOR">
        <shadow type="math_number">
          <field name="NUM">10</field>
        </shadow>
      </value>
    </block>
    <block type="math_constrain">
      <value name="VALUE">
        <shadow type="math_number">
          <field name="NUM">50</field>
        </shadow>
      </value>
      <value name="LOW">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="HIGH">
        <shadow type="math_number">
          <field name="NUM">100</field>
        </shadow>
      </value>
    </block>
    <block type="math_random_int">
      <value name="FROM">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="TO">
        <shadow type="math_number">
          <field name="NUM">100</field>
        </shadow>
      </value>
    </block>
    <block type="math_random_float"></block>
  </category>
  <category name="เงื่อนไข" colour="#5C81A6">
    <block type="controls_if"></block>
    <block type="logic_compare">
      <field name="OP">EQ</field>
    </block>
    <block type="logic_operation">
      <field name="OP">AND</field>
    </block>
    <block type="logic_negate"></block>
    <block type="logic_boolean">
      <field name="BOOL">TRUE</field>
    </block>
    <block type="logic_null"></block>
    <block type="logic_ternary"></block>
  </category>
  <category name="ทำซ้า" colour="#5CA65C">
    <block type="controls_repeat_ext">
      <value name="TIMES">
        <shadow type="math_number">
          <field name="NUM">10</field>
        </shadow>
      </value>
    </block>
    <block type="controls_whileUntil">
      <field name="MODE">WHILE</field>
    </block>
    <block type="controls_for">
      <field name="VAR" id="WSPf[+mg%s~o~h_?X,ew" variabletype="">i</field>
      <value name="FROM">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="TO">
        <shadow type="math_number">
          <field name="NUM">10</field>
        </shadow>
      </value>
      <value name="BY">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
    </block>
    <block type="controls_forEach">
      <field name="VAR" id="PE1;CS;cpSyDf?[;f^Jo" variabletype="">j</field>
    </block>
    <block type="controls_flow_statements">
      <field name="FLOW">BREAK</field>
    </block>
  </category>
  <category name="ข้อความ" colour="#5CA68D">
    <block type="text">
      <field name="TEXT"></field>
    </block>
    <block type="text_join">
      <mutation items="2"></mutation>
    </block>
    <block type="text_append">
      <field name="VAR" id="zg(dKo[i+OBhn)4dkpQX" variabletype="">item</field>
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT"></field>
        </shadow>
      </value>
    </block>
    <block type="text_length">
      <value name="VALUE">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_isEmpty">
      <value name="VALUE">
        <shadow type="text">
          <field name="TEXT"></field>
        </shadow>
      </value>
    </block>
    <block type="text_indexOf">
      <field name="END">FIRST</field>
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR" id="!Czivn;Z?nzE.l(0|]Dj" variabletype="">text</field>
        </block>
      </value>
      <value name="FIND">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_charAt">
      <mutation at="true"></mutation>
      <field name="WHERE">FROM_START</field>
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR" id="!Czivn;Z?nzE.l(0|]Dj" variabletype="">text</field>
        </block>
      </value>
    </block>
    <block type="text_getSubstring">
      <mutation at1="true" at2="true"></mutation>
      <field name="WHERE1">FROM_START</field>
      <field name="WHERE2">FROM_START</field>
      <value name="STRING">
        <block type="variables_get">
          <field name="VAR" id="!Czivn;Z?nzE.l(0|]Dj" variabletype="">text</field>
        </block>
      </value>
    </block>
    <block type="text_changeCase">
      <field name="CASE">UPPERCASE</field>
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_trim">
      <field name="MODE">BOTH</field>
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_print">
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_prompt_ext">
      <mutation type="TEXT"></mutation>
      <field name="TYPE">TEXT</field>
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
  </category>
</xml>


<xml xmlns="http://www.w3.org/1999/xhtml" id="workspaceBlocks" style="display:none">
</xml>

<%= javascript_include_tag 'playground/arrays.js' %>
