body {
    background-color: #fff;
    font-family: 'Trirong', serif;
    margin: 0;
}
h1 {
    font-weight: bold;
    font-size: 140%;
    font-family: 'Mitr', sans-serif;
}
h2{
    font-weight: normal;
    font-size: 120%;
    font-family: 'Mitr', sans-serif;
    margin: 5px 5px 2px 5px;
}
.header {
    background: #12418c;
    color: #f0f0ff;
    height: 40px;
    padding-left: 5px;

    .index-link {
        float: right;

        a,
        a:visited {
            color: white;
            text-decoration: none;
        }
        a:hover {
            background: #3261ac;
        }
    }
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Mitr', sans-serif;
    
}
.content {
    margin-left: 5px;
    margin-right: 5px;
}

.task-containers {
    float: left;
    width: 150px;
    border: 1px solid #aaaaaa;
    margin-right: 10px;
    margin-top: 5px;
    
    a {
        text-decoration: none;
    }

    a .task-content {
        .task-names {
            color: white;
            background: #666666;
            font-weight: bold;
            font-size: 130%;
            text-align: center;
        }
        
        .thai-titles {
            padding-left: 2px;
            color: #333333;
            background: white;
        }
    }

    a:hover .task-content {
        .task-names {
            background: #7874e0;
        }
    }
}

.playground a:hover .task-content .task-names {
    background: #ffca2c;
}
.playground a .task-content .task-names {
    background: #ffba1c;
}

